<h1 class="header"> Home</h1>

<div id="home">
  <h2 class="welcome-message">Welcome to the Health System</h2>

  <p>
    If new Patient please go to patient tab and fill out your information.
  </p>


</div>