// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.header {
  color: #054264;
  text-decoration: underline;
  text-align: center;
}
div#home {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid blue;
  width: 40%;
  padding: 10px;
}


span.bold-blue {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}



