<p id="notice"><%= notice %></p>




<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="invoice-title">
        <h2>Invoice</h2><h3 class="pull-right">Form # 12345</h3>
      </div>
      <hr>

      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Billed To:</strong><br>
            <%= @appointment.patient.patientname %><br>
            <%= @appointment.patient.patientaddress %><br>
            <%= @appointment.patient.patientphone%><br>

          </address>
        </div>


    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Patient Summary</strong></h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
            <tr>
              <td class="text-center"> <strong>Patient</strong></td>
              <td class="text-center"> <strong>Physician</strong></td>
              <td class="text-center"><strong>Reason</strong></td>
              <td class="text-center"><strong>Appointment Date</strong></td>
              <td class="text-center"><strong>Diagnostic Code</strong></td>
              <td class="text-center"><strong>Fee</strong></td>
                </tr>
            </thead>
            <tbody>
            <!-- foreach (lineItems as $line) or some such thing here -->
            <tr>
              <td> <%= @appointment.patient.patientname %> </td>
              <td> <%= @appointment.physician.physicianname %></td>
              <td> <%= @appointment.reason %> </td>
              <td> <%= @appointment.date.strftime('%c') %></td>
              <td> <%= @appointment.diagnostic.description %></td>
              <td> <%= @appointment.diagnostic.fee %></td>

            </tr>


            <tr>
              <td class="thick-line"></td>
              <td class="thick-line"></td>
              <td class="thick-line"></td>
              <td class="thick-line"></td>
              <td class="thick-line text-center"><strong>Subtotal</strong></td>
              <td class="thick-line text-right"><%= @appointment.diagnostic.fee %></td>
            </tr>
            <tr>

            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
</div>
</div>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
